.page {
  min-height: 100svh;
  font-family: var(--font-geist-sans);
  overflow-x: hidden;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 768px) {
  .page {
    padding-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .page {
    padding-bottom: 60px;
  }
}
